services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/webconf:/etc/nginx/conf.d:ro
      - ./nginx/webfiles:/var/www
    networks:
      - tunnel
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel run
    volumes:
      - ./cloudflared:/etc/cloudflared:ro
    networks:
      - tunnel
    restart: unless-stopped

networks:
  tunnel:
    driver: bridge
