/* ================================
   MAIN DEFAULTS, 1920x1080 AND 2560x1440
================================== */
body {
    padding: 0;
    margin: 0;
    font-family: "Verdana", Verdana;
    background-color: rgb(30, 30, 30);
    color:white;
    box-sizing: border-box;
}

div {
    padding: 0;
    margin: 0;
}

.headerOrangeBold
{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

.headerBlackBold
{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

/* ================================
   HEADER
================================== */
.headerSliderImages {
    background-image: url("../images/headerSlider01.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:cover;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 0 1rem 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba;
}

header.scrolled li a {
    color: black;
}


/* ================================
   NAVIGATION BAR
================================== */
header nav {
    width: 100%;
    display:flex;
    justify-content: center;
}

.nav-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    flex: 1 1 auto;
    max-width: 35%;
}


.rrlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    padding: 0;
    flex-shrink: 0;
    margin: 0 0.5rem;
}

.rrlogo a
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rrlogo img {
    object-fit: contain;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.navSeperator {
    color: rgb(255, 100, 0);
    font-size: 2rem;
    display: flex;
    align-self: center;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-self: center;
    position: relative;
}

li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 0 solid rgba(255, 100, 0, 0);
    transition: border-bottom 0.15s ease; 
}


li a:not(.rrlogo):hover {
    border-bottom: 3px solid rgb(255, 100, 0)
}


/* ========= Navigation Bar drop down menu ========= */
ul.dropdown-menu {
    display: none;
    position: absolute; 
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    padding-top: 0.5rem;
    margin-left: -1rem;
    list-style: none;
    z-index: 1000;
  }

li:hover > ul.dropdown-menu {
    display: block;
  }

ul.dropdown-menu li {
    margin: 0;
    padding: 0;
    display: block;
    width: 10rem;
  }
  
ul.dropdown-menu li a {
    display: block;
    padding: 0.3rem 0;
    color: white;         
    text-decoration: none;
    text-transform: none;
    font-size: 0.8rem;
    background-color: rgb(200, 80, 0);
  }

  ul.dropdown-menu li a:hover {
    background-color: rgb(255, 100, 0);
  }


/* ================================
   FIRST INFO BOX BELOW HEADER
================================== */
.infoBoxMain {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    background-color: white;
    color: black;
}

.infoOfferText1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 70%;
}

.infoOfferText2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 2rem;
    align-items: center;
}

.infoOfferText2 .buttonWhatWeOffer {
    display: flex;
    align-items: center;
    justify-content: middle;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    background-color: rgb(255, 100, 0);
    color: white;
    font-size: 16px;
    text-transform: uppercase;  
    border: none;
    font-weight: bold;
    background-image: url(../images/right-arrow.png);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 95%;
    padding-left: 25px;
}

.infoOfferText2 a
{
    text-decoration: inherit;
    color: inherit;
}

.infoOfferText2 .buttonWhatWeOffer:hover
{
    background-color:  rgb(210, 85, 0);
    transition-duration: 0.3s;
    background-size: 10%;
}


/* ================================
   SERVICES
================================== */
.services
{
    background-color: rgb(240, 230, 215);
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    padding-bottom: 2rem;
}

.services h2 {
    padding: 0;
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    width: 70%;
}

.service-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    padding: 2rem 1rem 2rem 1rem;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.service-item:hover
{
    background-color: rgb(201, 201, 201);
}


.service-item 
{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.services-grid > .service-item:nth-child(4n)
{
    border-right: none;
}

.services-grid > .service-item:nth-child(n+5)
{
    border-bottom: none;
}

.service-item img 
{
    width: 3rem;
    height: 3rem;;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 140, 0);
    border-radius: 3rem;
    border-width: 1rem;
    border-color: rgb(220, 140, 0);
    border-style: solid;
}

.service-item:nth-child(2) img,
.service-item:nth-child(4) img,
.service-item:nth-child(5) img,
.service-item:nth-child(7) img 
{
    background-color: blue;
    border-color: blue;
}

.service-item h3
{
    padding: 1rem 0 2rem 0;
    margin: 0;
    font-size: 1.3rem;
}

.service-item .descriptor
{
    padding: 0;
    margin: 0;
}

.service-item .read-more
{
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(2rem);
}

.service-item:hover .read-more 
{
    opacity: 1;
    transform: translateY(0);
}


/* ================================
   WORKED WITH LOGOS
================================== */
.workedWith
{
    background-color: white;
    color: black;
    width: 100%;
}
.workedWithInfoText
{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem 0 2rem;
}

.workedWithLogos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.workedWithLogos img
{
    height: 5rem;
    padding: 0 6rem 2rem 6rem;
    width: fit-content;
}


/* ================================
   WORKED WITH INFO AND MAP
================================== */
.workedWithMapContainer
{
    display: flex;
    flex-direction: row;
    background-color: rgb(222, 222, 222);
    padding: 2rem 0 2rem;
    align-items: center;
    justify-content: center;
}

.workedWithInfoText2
{   
    display:flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15%;
}

.workedWithInfoText2 p
{
    display:flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    color: orange;
    padding: 0px;
    margin: 0px;
}

.workedWithInfoText2 p2
{
    display:flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}

.workedWithInfoText2 ol 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.workedWithInfoText2 li
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    height: max-content;
}

.workedWithInfoText2 li p
{
    display: inline;
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding: 0;
    margin: 0;
}

.workedWithMap
{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-right: 15%;
}

.workedWithMap img
{
    display: flex;
    width: 100%;
    height: 100%;
}


/* ================================
   CONTACT
================================== */
.enquiries
{
    display: flex;
    flex-direction: row;
    height: 15rem;
    width: 100%;
    justify-content: center;
}

.apply
{
    background-color: rgb(46, 46, 183);
    background-image: url(../images/apply.jpg);
    width: 50%;
    padding: 0 17rem 0 1rem;
}

.contact
{
    background-color: rgb(229, 170, 61);
    background-image: url(../images/contact.jpg);
    width: 50%;
    padding: 0 1rem 0 17rem;
}

.apply p, .contact p
{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.apply .descriptor, .contact .descriptor
{
    font-size: 1rem;
    font-weight: none;
    text-transform: none;
}

.buttonContact, .buttonApply {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;  
    border: none;
    font-weight: bold;
    text-decoration: none;
    background-image: url(../images/right-arrow.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.buttonContact
{
    background-color: rgb(40, 40, 172);
    border-color: rgb(40, 40, 172);
}

.buttonApply 
{
    background-color: rgb(216, 121, 31);
    border-color: rgb(216, 121, 31);
}


.buttonContact:hover, .buttonApply:hover
{
    transition-duration: 0.2s;
    background-size: 13%;
}

.buttonContact:hover
{
    background-color:  rgb(26, 26, 145);
}

.buttonApply:hover
{
    background-color:  rgb(207, 96, 22);
}



/* ================================
   FOOTER
================================== */
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    padding-top: 0.5rem;
    text-align: center;
    background-color: rgb(37, 28, 98);
    color: white;
}

.footerLogo {
    background-image: url("../images/rrlogo2.png");
    display: flex;
    flex-direction: row;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 50%;
    background-position-x: 50%;
    width: 5%;
    text-indent: -99999px;
    padding: 0;
    margin: 0 10rem 0 2rem;
}

.footerInfo {
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    justify-content: center;
    height: 100%;
    width: 47.5%;
    text-decoration: none;
    line-height: 1px;
    font-size: 0.8rem;
    margin-right: 10rem;
}

.footerInfo a {
    text-decoration: none;
    color: inherit;
}

.orangeText {
    color: rgb(255, 100, 0);
}

/* ========= Footer Policies ========= */
.footerPolicies {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    width: 47.5%;
}

.footerPolicies .navSeperator {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.footerPolicies li a {
    text-transform: inherit;
    color: inherit;
    border-bottom: inherit;
    transition: color, 0.3s;
    text-decoration: underline;
    margin: 1rem
}

.footerPolicies a:not(.navSeperator):hover {
    color: white;
    border-bottom: none;
}


/* ================================
   RESPONSIVE STYLING
================================== */

/* ========= 1440px (Laptops) ========= */
@media (max-width:1440px) 
{
    .headerSliderImages {
        height: 35vh;
    }


    .infoBoxMain {
        height: 25vh;
    }
}


